<body>
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


        <h1 >Sign In</h1>
        <div class="row">
                <div class="col-md-4">
                        {{ wtf.quick_form(form,button_map={'submit': 'success'},extra_classes="label_loginform") }}
                </div>
                <div class="col-md-6">
                                <iframe src="https://giphy.com/embed/MhHmVf60oEZQQ" width="480" height="154" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/frog-ping-pong-glove-and-boots-MhHmVf60oEZQQ">via GIPHY</a></p>
                        </div>
        </div>
        <br>
        <p>New User? <a class="btn btn-warning" href="{{ url_for('auth.register') }}">Click to Register!</a></p>
        <p>Forgot Your Password?
                <a class="btn btn-info" href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
        </p>
{% endblock %}
</body>