
.players {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.main_container {
	display: flex;
}
.play_space {
	display: none;
	flex: 3 0 auto;

}
.playground {
	width: 100%;
	height: 400px;
	max-width: 800px;
	max-height:400px;
	position: relative;
	/* left: 50%; */
	background: black;
	/* margin-left: -400px; */
	text-align: center;
}
.code_space {
	flex: 1 0 auto;
	margin-left: 30px;
}
.ball {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: green;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}
.goalkeeper {
	width: 2.5%;
	height:30%;
	position: relative;
	background: red;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.left-goalkeeper {
	float: left;
	/* margin-left: 10px; */
}
.right-goalkeeper {
	float: right;
	/* margin-right: 10px; */
}
.chatroom{
	margin-top: 30px;
}

.left-score, .right-score {
	font-size: 30px;
	text-align: center;
	color: purple;
	text-shadow: 
	1px 0 pink,
	0 1px pink,
	-1px 0 pink,
	0 -1px pink;
}