<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }

    #editor {
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
  </style>
</head>
<body> -->
<label for="mode" class="control-label">Language Mode:</label>
<select id="mode" class="form-control"onChange="changeMode()">
    <option>javascript</option>
    <option>json</option>
    <option>xml</option>
    <option>python</option>
</select>

<pre id="editor" style="height:255px">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>
<br>
<!-- <button id="submit" onclick="myFunction()">submit</button> -->
<!-- <div class="row">
        {% if commit_form %}
        {{ commit_form.hidden_tag() }}
        {{ commit_form.commit_msg.label }}{{ commit_form.commit_msg() }}
        {{ commit_form.submit() }}
        {% endif %}
    </div> -->
<!-- <form method="POST">
        {% if commit_form %}
        {{ commit_form.csrf_token }}
        {{ commit_form.hidden_tag() }}
        {{ commit_form.commit_msg.label }}{{ commit_form.commit_msg() }}
        {% endif %}
        <input type="submit" value="htmlcommit" onclick="myFunction()">
</form> -->
<form method="POST" >
<!-- <form method="GET"> -->
        <input type="text" name="commit_msg" id="commit_msg" placeholder="use html form for all col">
        <!-- <input type="hidden" name="commit_msg" id="user_id" value="xxx"> -->
        <!-- <input type="hidden" name="commit_msg" id="log_id" value="xxx">-->
        <input type="submit" value="commit"  onclick="myFunction()"> 
</form>
<script src="{{
  url_for('static', filename='src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8">
  </script>
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<style> 
    #submit { position: relative; }
</style>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
    function changeMode(){
        var mode = document.getElementById('mode').value;
        editor.session.setMode("ace/mode/"+ mode);
        var contents = {
            javascript: 'alert("Write something here...");',
            json: '{"value": "Write something here..."}',
            python: 'def function():\n   ',
            xml: '<value attr="something">Write something here...</value>'
        };
        editor.setValue(contents[mode]);
        
    }
    
    
    function myFunction() {
        
        var editor_content=editor.getValue();
        var commit_msg = document.getElementById('commit_msg').value; 
            $.getJSON($SCRIPT_ROOT + '/games/commit_code'
              , {
            editor_content: editor_content,
            commit_msg:commit_msg
            }
            , function(data) {
                var response = data.result;
                alert("in myfunction");
                console.log(response);
            });
            return false;
    }
    // function myFunction() {
    //     var editor_content=editor.getValue();
    //     var commit_msg = document.getElementById('commit_msg').value; 
            
    //         if ("WebSocket" in window) {
    //            console.log("echo");
               
    //            // Let us open a web socket
    //            var ws = new WebSocket("ws://localhost:6005");
				
    //            ws.onopen = function() {
                  
    //               // Web Socket is connected, send data using send()
    //               ws.send('Message');
    //               alert("Message is sent...");
    //            };
				
    //            ws.onmessage = function (evt) { 
    //               var received_msg = evt.data;
    //               alert("Message is received...");
    //            };
				
    //            ws.onclose = function() { 
                  
    //               // websocket is closed.
    //               alert("Connection is closed..."); 
    //            };
    //         } else {
              
    //            // The browser doesn't support WebSocket
    //            alert("WebSocket NOT supported by your Browser!");
    //         }
    //         $.getJSON($SCRIPT_ROOT + '/games/commit_code'
    //           , {
    //         editor_content: editor_content,
    //         commit_msg:commit_msg
    //         }
    //         , function(data) {
    //             var response = data.result;
    //             alert("in myfunction");
    //             console.log(response);
    //         });
    //      }
         
</script>
<!-- 
</body>
</html> -->
