{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<h1 id="page_title">room wait</h1>
<section id="section_code">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category,message in messages %}
        <p>{{ category }}</p>
        <p>{{ message }}</p>
        {% endfor %}
    </ul>

    {% else %}
    <p>To join game, need to upload available code</p>
    {% endif %}
    {% endwith %}
    <label for="mode" class="control-label">Language Mode:</label>
    <select id="mode" class="form-control">
        <option value="code_id">"choose language"</option>
        {% for code_id,code_msg,lan_name in all_codes %}
        <option value={{code_id}}>{{ lan_name }}</option>
        {% endfor %}
    </select>
    <form enctype="multipart/form-data">
        <input class="btn btn-info" id="chooseFile" type="file">
    </form>

    <form id= "upload_to_server" enctype="multipart/form-data" action='#'>
        <input class="btn btn-primary" type="submit" value="upload_to_server"  > 
    </form>
    <br>
    <div class="row">
        <div class="col-md-4">
            <form id="select_code" method="POST" action='#' style="display:none;" >
                <input type="hidden" name="join_room" id="join_room" value={{room_id}}>
                <input class="btn btn-success" type="submit" value="Select code" >
            </form>
        </div>
    </div>

</section>
<section id="section_game" style="display:none">
    <div class="scores">
            <div class="left-score">
                <div>
                    <span>0</span>
                </div>
            </div>
            <div class="right-score">
                <div>
                    <span>0</span>
                </div>
            </div>
    </div>
    <div class="popup"id="myPopup_dom" >the popup!
    </div>
    <div class="container" id="game_playground"  width="600" height="800" >
        <h2> game_playground </h2>
        <div id="game_display">
        
            <div class="row" style="height:500px">
        
                    <div class =playground>
                    <div class="ball"></div>
                    <div class = "left-goalkeeper goalkeeper"></div>
                    <div class = "right-goalkeeper goalkeeper"></div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>game_object_pos_msg logId: {{ room }}</h2>
                    <textarea id="chat" class="col-md-10" rows="10"></textarea><br><br>
                    <textarea id="showgame" class="col-md-10" rows="10"></textarea><br><br>
                    <input id="text"  placeholder="Enter your message here"><br><br>
                    <a href="#" onclick="leave_room();">Leave this room</a>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div id="game_code">
            
            
            
            <pre id="editor" style="height:255px"></pre>
            <br>
            <form id="commit"  method="POST" action='#'>
                            <input type="text" name="commit_msg" id="commit_msg" placeholder="commit msg">
                            <input type="submit" value="commit"  > 
            </form>
            
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8">
</script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='gameover.css') }}">
<script src="{{ url_for('static', filename='game_socketio.js') }}"></script>

{% endblock %}
