{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{  super ()  }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='gameover.css') }}">
{% endblock %}
{% block app_content %}

<h1 id="page_title">room wait</h1>
<button onclick="left_room()" id="leave_btn">leave room</button>

<div class="popup"id="myPopup_dom" >
</div>
            

<main class="main_container">
    <div class ="play_space">
        <h2> game_playground </h2>
        <div class="players">
                <div class="player">
                    <div id="map_left_user"> P1 username</div>
                    <div class="p_score left-score">
                        <div><span>0</span></div>
                    </div>
                </div>
                <span>vs</span>
                <div class="player">
                    <div id="map_right_user"> P2 username</div>
                    <div class="p_score right-score">
                        <div><span>0</span></div>
                    </div>
                </div>
            </div>
        <div class="playground">
            <div class="ball"></div>
            <div class = "left-goalkeeper goalkeeper"></div>
            <div class = "right-goalkeeper goalkeeper"></div>
        </div>
    </div>
    <div class ="code_space">
        <div id="countdown"  style="font-size:40px ;display:none" > </div> 
        <label for="mode" class="control-label">Language Mode:</label>
        <select id="mode" class="form-control">
            <option value="code_id">"choose language-code"</option>
            {% for code_id,code_msg,lan_name in all_codes %}
            <option value={{code_id}}>{{ lan_name }}-{{code_msg}}</option>
            {% endfor %}
        </select>
        <button id="btn_select_code" onclick="select_code()" style="display:none">submit</button>
        {% if rank_list!="" %}
            <div id="opponent">
                <label class="control-label">opponent rank:</label>
                <select id="opponent_rank" class="form-control" >
                    {% for rank in rank_list %}
                    <option value="{'username':'{{rank[3]}}','code_id':{{rank[2]}}}">{{rank[3]}}-{{rank[4]}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div id="game_code">
            <pre id="editor" style="height:255px"></pre>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="hidden" name="join_room" id="join_room" value={{room_id}}>
                <input type="hidden" name="room_privacy" id="room_privacy" value={{room_privacy}}>
                <input type="hidden" name="room_status" id="room_status" value={{room_status}}>
            </div>
        </div>
    </div>

</main>
<div class="chatroom">
    <input id="chattext"  placeholder="Enter your message here"><br><br>
    <textarea id="chat" class="col-md-10" rows="10"></textarea><br>
</div>

    

{% endblock %}
{% block scripts %}
{{  super ()  }}
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='socketio_1.3.6.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='game_socketio.js') }}"></script>
{% endblock %}
