<br>
<h3>Hot Game</h3>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='moment.js') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='list_css.css') }}">
<div class="container">
        <div class="modal-content">
            <div class="panel-body table-responsive">
                <table class="table ">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Hot Games</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hg in h_games %}
                        <tr>
                            <td>{{ hg.timestamp }}</td>
                            <td>{{ hg.gamename }}</td>
                            <td>{{  hg.descript }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
</div>