<link rel=stylesheet type=text/css href="{{ url_for('static', filename='list_css.css') }}">
<div class="container">
        <div class="modal-content">
            <div class="panel-body table-responsive">
                <table class="table ">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">遊戲名稱</th>
                        <th scope="col">遊戲描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for g in games %}
                        <tr>
                            <td>{{ moment(g.timestamp).format('LL') }}</td>
                            <td>{{ g.gamename }}</td>
                            <td>{{  g.descript }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
</div>