{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>open room</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script type="text/javascript">
    $('select#game').change(function(event) {
        let game_id = document.getElementById('game').value;
        http_send_toweb('get_g_player_num',game_id,function(responseText) {
            // show on add_form: log.status
            console.log("get_g_player_num callback")
            document.getElementById('player_num').value = responseText;
        });
    })
    // $('select#privacy').change(function(event) {
    //     var privacy = document.getElementById('privacy').value;
    //     if (privacy ==2){
    //         document.getElementById('players_status').value = 0;
    //         document.getElementById('players_status').style.display = "none";
    //     }
    // })
    $('select#game_category').change(function(event) {
        
        var selected_category = document.getElementById('game_category').value;
        http_send_toweb('get_g_list',selected_category,function(responseText) {
            let g_list = JSON.parse(responseText)['g_list']
            var g_select = document.getElementById('game')
            for (let index =0; index < g_list.length; index++) {
                const lan_obj = g_list[index];
                g_select.options[index] = new Option(lan_obj[1], lan_obj[0]);//(text,value(str))
            }
        });
    })
    function http_send_toweb(post_event,params, call_back) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            call_back(this.responseText);
        }
        };
        xhttp.open("POST", post_event, true);
        xhttp.send(params);
    }
    </script>
{% endblock %}